@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap");

:root {
  --brand: #1e3163;
  --dark: #092032;
  --body: #516171;
  --border: rgba(0, 0, 0, 0.08);
  --green: #bed6ed;
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

body {
  font-family: "Mulish", sans-serif;
  color: var(--body);
  line-height: 1.7;
  background-color: #f0f2f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 700;
  color: var(--dark);
  font-family: 'Handlee', cursive;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

a {
  color: var(--dark);
  transition: all 0.4s ease;
  font-weight: 500;
}

a:hover {
  color: var(--brand);
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.text-brand {
  color: var(--brand) !important;
}

.hero-slider .owl-prev,
.hero-slider .owl-next {
  background-color: rgba(255, 255, 255, 0.3) !important;
  width: 60px !important;
  height: 60px !important;
  display: block;
  display: grid;
  place-items: center;
  color: #fff !important;
  border-radius: 100px;
  line-height: 0;
  border-radius: 100px !important;
  position: absolute;
  top: 50%;
  font-weight: 600 !important;
  font-size: 12px !important;
  transition: all 0.4s ease;
  margin-top: -30px !important;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
  background-color: var(--green) !important;
}

.owl-dot.active span {
  background-color: var(--green) !important;
}

/* slide */
.hero-slider .slide {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.slide2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.slide3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.slide .display-2 {
  text-transform: uppercase;
  color: #feffe4;
}

.bg-royal {
  background-color: var(--brand);
}

/* navbar */
.top-nav {
  background-color: #1e3163;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #bed6ed42;
}

.top-nav p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}

.top-nav span,
.top-nav i {
  vertical-align: middle;
  color: #bed6ed;
}

.navbar-light .navbar-brand {
  color: #fff !important;
}

.navbar {
  box-shadow: var(--shadow);
}

.conditions-section {
  margin: 20px 0;
}

.conditions-section a {
  color: #fff;
  margin: 0 10px;
}

.navbar .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 900;
  padding: 15px;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
  color: var(--brand);
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.navbar-brand .dot {
  color: var(--brand);
}

.btn {
  padding: 8px 26px;
}

.btn-brand {
  border-color: #10c89b;
  background-color: #10c89b;
  color: #fff;
}

.btn-brand:hover {
  border-color: #10c89b;
  background-color: #10c89b;
  color: #fff;
}

.intro {
  text-align: center;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}
.intro h1 {
  margin-top: 20px;
  margin-bottom: 15px;
}
.intro p{
  font-style: italic;
}
.info-box {
  align-items: flex-start;
  display: flex;
}

.sub-heading {
  background: #feffe4;
  border-radius: 127px;
  padding: 13px 25px;
  text-transform: uppercase;
  font-weight: 900;
  color: #1e3163;
  border: 1px solid rgb(190 214 237);
}

.info-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #feffe4;
  color: #10c89b;
  font-size: 32px;
  padding: 35px;
}
.menu-content .icon{
  float: left;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  border: 2px solid rgb(13 110 253 / 25%);
}
.menu-content .icon img{
  width: 55%;
}
.service {
  padding: 32px;
  background-color: #bed6ed;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.service:hover{
  transform: scale(1.1);
}
.service h5 {
  margin-top: 24px;
  margin-bottom: 14px;
  color: #1e3163;
}

.service p {
  color: #1e3163;
}
footer {
  background: #1e3163;
}

footer .footer-top {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
  padding-top: 20px;
}

footer .navbar-brand {
  color: #fff;
}

footer p {
  color: #adb3b9;
}

footer .social-icons a {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-left: 4px;
  margin-right: 4px;
}

.icon.icon-serv {
  height: 80px;
  width: 80px;
  background: #feffe4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #1e3163;
  font-size: 45px;
  border: 1px solid #1e3163;
}
.contact-info .bx {
  font-size: 60px;
  display: inline-block;
  margin-bottom: 20px;
  color: #bed6ed;
}

.contact-address,
.contact-phone,
.contact-email {
  margin-bottom: 20px;
    background: #f9fafb;
    padding: 30px 10px;
    border-radius: 10px;
}
.contact-info h3 {
  font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: capitalize;
    color: #7394b5;
}

.contact-info address,.contact-info a,
.contact-info p {
  margin-bottom: 10px;
  color: #1e3163;
  font-weight: 700;
}

.logo-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--main);
  padding: 0 30px;
}

/*==========*/
/* Menus */
/*=========*/
/*Desktop Navbar*/
#navbar {
  position: relative;
  background-color: #333;
}

.menu-link {
  display: block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none !important;
  font-weight: 600;
}
.card {
  background-color: transparent!important;
  border: 0!important;
}
.menu-item:hover .menu-link {
  color: rgb(189 213 236);
  font-weight: 900;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #293c6b!important;
  background-color: rgb(13 110 253 / 25%);
}
.tab-content {
  background: #feffe4;
}

.menu-content {
  position: absolute;
  width: 100%;
  background-color: #feffe4;
  left: 0;
  border-bottom: 3px solid #b9d0e8;
  box-shadow: 0 0px 2px 1px #e9ecef;
  animation: slideUp 0.3s ease;
  display: none;
  z-index: 3;
  min-height: 270px;
  height: auto;
}
.member-name{
  position: absolute;
    bottom: 0;
    background: #b9d0e8;
    width: 100%;
    text-align: center;
    font-size: 14px!important;
    padding: 10px;
    color: #1e3163;
    font-weight: 900;
}
.contact-icon{
  width:60px;
  background: #feffe4;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.menu-content .menu-content-link {
  display: block;
  padding: 5px 15px;
  transition: 0.25s;
}

.menu-content .menu-content-link:hover {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.menu-item:hover .menu-content {
  display: block;
}

/* animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.team-one__single {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.team-one__shape-1 {
  position: absolute;
  bottom: 13px;
  left: 20px;
  transform: translateY(66%);
  transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
  visibility: hidden;
  opacity: 0;
}
.team-one__shape-1 img {
  width: auto;
}
.team-one__img-box {
  position: relative;
  display: block;
  border-radius: 50%;
  border-bottom-right-radius: 0;
  transition: all 500ms ease;
}
.team-one__img {
  position: relative;
  display: block;
  border-radius: 50%;
  border-bottom-right-radius: 0;
  overflow: hidden;
  z-index: 1;
}
.team-one__content {
  position: relative;
  display: block;
  text-align: right;
  margin-top: 25px;
}
.team-one__title {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--agrion-font);
  line-height: 27px;
}
.team-one__single:hover .team-one__shape-1 {
  visibility: visible;
  transform: translateY(0%);
  opacity: 1;
}
.team-one__single:hover .team-one__img-box {
  box-shadow: 0px 10px 90px 0px rgb(0 0 0 / 15%);
}
.contact-one_information-box .information-box {
  background-color: #ffffff8a;
  border-radius: 12px;
  padding: 40px 50px 25px;
}
.contact-head{
  text-align: center;
  background: #bdd5ec;
  padding: 10px;
  border-radius: 10px;
}
.contact-head span{
  color: #000;
  font-weight: 800;
  font-size: 20px;
}
.information-item_one {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.information-item_one .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c4dee9;
  color: #2c2c2c;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.information-item_one .icon img{
  width: 35px;
}
.information-item_one .info {
  line-height: 1;
}
.information-item_one .info .fs-18,.information-item_one .info .fs-18 a {
  font-size: 18px;
    color: #000;
    font-weight: 700;
    line-height: 1.4;
}
.information-item_one .info .sub-title {
  font-size: 14px;
  font-weight: 600;
  display: flex;
}
.mb-25 {
  margin-bottom: 25px;
}
.contact-one_information-box .information-box h3 {
  margin-bottom: 10px;
}
.contact-new{
  background-image: url(../img/services-one-shape-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: -1;
  padding: 100px 0;
}
.menu-head {
  font-size: 18px;
  color: #2e3538;
  font-weight: 900;
  text-transform: uppercase;
}
#product h6 {
  font-family: inherit;
}
.menu-icon{
  height:40px;
  width:40px;
}
.menusub{
  position: relative;
}
.menu-detail{
  position: absolute;
  left: 20%;
  top:0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 15%;
  top: 0;
  height: 100%;
  background: transparent;
  border: none;
  width: 80%;
}
.dropdown-menu a {
  color: #1e3163;
  font-weight: 900;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu .active {
  background-color: #bdd5ec;
  width: 150px;
  border-radius: 8px;
}

/* modal */
.modal-content .modal-header {
  padding: 0;
  border: none;
}
.modal-content .modal-body {
  border: none;
  position: relative;
  z-index: 0;
  padding: 0;
}
.modal-content .modal-header {
  padding: 0;
  border: none;
}
.modal-content button.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  text-shadow: none;
  background: #1e3163;
  color: #fff;
  opacity: 1;
  border:none;
}